@model Testing0._1.Models.Team

@{
    ViewData["Title"] = "Details";
}
<h1>Placeholder</h1>
<h1>Placeholder</h1>

<h1>Teamleden @Html.DisplayFor(model => model.Naam)</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TeamID">Edit</a> |
    <a asp-action="Index">Back to Teams</a>
</div>
