@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Aquadraat</h1>

    <p><img src="~/images/rvv2021blue.jpg" alt="imgrvv2021blue" /></p>
    <div>
        <a class="navbar-brand" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="navbar-brand" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
    <div>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Privacy">Verdergaan als bezoeker</a>
    </div>
</div>
