@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome bij de Adminpagina</h1>
    <p>Dit is een doorverwijspagina naar alle adminopties.</p>
    <a asp-controller="News" asp-action="Index1">News Editing</a>
    <br />
    <a asp-controller="Race" asp-action="Index">Race Editing</a>
    <br />
    <a asp-controller="Rit" asp-action="Index">Rit Editing</a>
    <br />
    <a asp-controller="Gebruiker" asp-action="Index">Gebruiker Editing</a>
    <br />
    <a asp-controller="Teams" asp-action="Index">Team Editing</a>
    <br />
    <a asp-controller="GebruikerTeam" asp-action="Index">Gebruikeren Team koppelen</a>
    <br />
    <a asp-controller="Uitslag" asp-action="Index">Uitslag Editing</a>
    <br />
    <a asp-controller="Role" asp-action="Index">Role Editing</a>
    <br />

</div>
