@model IEnumerable<Testing0._1.Models.Nieuwsartikel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome -gebruiker- bij Aquadraat</h1>
    <h2>testing basic functions</h2>
    <p>blablablablablabalabla</p>
    <article></article>






    @foreach (var item in Model)
    {
        if (item.NieuwsartikelID == 2)
        {
            
        }
    }




</div>
