@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome -gebruiker- bij Aquadraat</h1>
    <h2>testing basic functions</h2>
    <p>blablablablablabalabla</p>
    <article></article>





    <article>
        <figure>

        </figure>
        <div>
            <span>Nieuws</span>
            <div>
                <div>
                    Aflasting wegens corona
                </div>
            </div>
        </div>
    </article>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
