@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome -gebruiker- bij Aquadraat</h1>
    <h2>testing basic functions</h2>
    <p>blablablablablabalabla</p>
    <article></article>





    <article>
        <div>
            <span>Nieuws</span>
        </div>
        <figure>
            <img src="https://cdn.discordapp.com/attachments/691020039863664722/780145940312489984/corona.png" alt="lolzzz" />
        </figure>
        <div>
            <div>
                Aflasting Ronde Vna Veussel 2020 wegens coronamaatregelen.
            </div>
        </div>
    </article>


    
</div>
