@model IEnumerable<Testing0._1.Models.Nieuwsartikel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomePageLayout";
}

<div>
    <h1 class="text-white homepagetitle">Welkom bij de beste wielerwedstrijd ter wereld !</h1>
</div>

