@model IEnumerable<Testing0._1.Models.Nieuwsartikel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome -gebruiker- bij Aquadraat</h1>
    <h2>Dit is de privacy shit</h2>
    <p>blablablablablabalabla</p>
    <article></article>









</div>
