@model Testing0._1.Models.Uitslag

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Uitslag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UitslagID" />
            <div class="form-group">
                <label asp-for="Resultaat" class="control-label"></label>
                <input asp-for="Resultaat" class="form-control" />
                <span asp-validation-for="Resultaat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Tijd</label>
                <input asp-for="Algemeenklassement" class="form-control" />
                <span asp-validation-for="Algemeenklassement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Rit</label>
                <select asp-for="GebruikerID" class="form-control" asp-items="ViewBag.GebruikerID"></select>
                <span asp-validation-for="GebruikerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Renner</label>
                <select asp-for="RitID" class="form-control" asp-items="ViewBag.RitID"></select>
                <span asp-validation-for="RitID" class="text-danger"></span>
            </div>
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Klassementen
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="form-group">
                    <label asp-for="Puntenklassement" class="control-label"></label>
                    <input asp-for="Puntenklassement" class="form-control" />
                    <span asp-validation-for="Puntenklassement" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bergklassement" class="control-label"></label>
                    <input asp-for="Bergklassement" class="form-control" />
                    <span asp-validation-for="Bergklassement" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Strijdlustklassement" class="control-label"></label>
                    <input asp-for="Strijdlustklassement" class="form-control" />
                    <span asp-validation-for="Strijdlustklassement" class="text-danger"></span>
                </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
